.operation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.c_date {
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%!important;
  }
}

.tox-tinymce-aux, .tox .tox-dialog-wrap__backdrop, .tox .tox-dialog {
  z-index: 3000!important;
}
